<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d %level %logger %mdc] - %m%n
            </Pattern>
        </layout>
    </appender>

    <logger name="no.nav" level="TRACE" />
    <logger name="kafka" level="ERROR" />
    <logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="org.apache.kafka" level="ERROR" />
    <logger name="tjenestekall" level="TRACE" />

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>